
*
{
    box-sizing: border-box;
}

/* * {
    outline: 1px solid #f00 !important;
    opacity: 1 !important;
    visibility: visible !important;
  } */

html, body
{
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

hr
{
    margin-top: 10vh;
    width: 100%;
}

.view
{
    position: fixed;
    width: 100vi;
    height: 100vh;
    background-color: rgba(20, 20, 20, 0.9);
    cursor: pointer;
}

.viewContent
{
    position: absolute;
    height: 80vh;
    width: 50vw;
    top: 10vh;
    left: 25vw;
    background-color: #353535;
    color: #fff;
    border: 1px solid #555;
    padding: 10px 20px;
    z-index: 1;
    text-align: center;
    cursor: auto;
}

.viewContent h2
{
    font-size: 2em;
    margin: 6vh 0;
    margin-left: calc(3vw + 50px);
}

.viewContent h2 #currPoints
{
    font-size: 1em;
    width: 8vw;
    text-align: center;
}

.viewContent h2 #currPoints.red
{
    background-color: red;
}

.viewContent h2 #currPoints.green
{
    background-color: green;
}

.viewContent h2 #updatePoints
{
    margin-left: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.viewContent p
{
    padding: 3vh;
    text-align: right;
}

.viewContent p span
{
    font-weight: 700;
    float: left;
}

#backUsers
{
    position: absolute;
    bottom: 0;
    left: 20vw;
    width: 10vw;
    padding: 10px;
    margin: 20px 0;
    background-color: #ccc;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}

.addContent
{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 80vh;
    width: 50vw;
    top: 10vh;
    left: 25vw;
    background-color: #353535;
    color: #fff;
    border: 1px solid #555;
    padding: 10px 20px;
    z-index: 1;
    text-align: center;
    cursor: auto;
}

.addContent label
{
    margin: 3.2vh auto;
}

.addContent #addBtn
{
    position: absolute;
    bottom: 0;
    left: 10vw;
    width: 10vw;
    padding: 10px;
    margin: 20px 0;
    background-color: #ccc;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    background-color: green;
}

.addContent #backUsers
{
    left: 30vw;
}

header
{
    padding: 10px 0;
    background-color: cadetblue;
    color: #fff;
}

header h1
{
    text-align: center;
    text-transform: uppercase;
}

#addUser, #export
{
    margin: 50px auto;
    text-align: center;
    background-color:  darkcyan;
    border: 2px solid #888;
    width: 230px;
    padding: 10px 0;
    color: #fff;
    font-weight: 700;
    font-size: 0.9em;
    cursor: pointer;
}

.wrapper
{
    width: 80vw;
    margin: 80px 10vw;
    text-align: justify;
}

.wrapper ul
{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
}

.wrapper ul li
{
    list-style: none;
    width: 210px;
    padding: 10px;
    background-color: cadetblue;
    border-radius: 0.7em;
    word-break: break-word;
    color: #fff;
    font-size: 0.95vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper ul li .points
{
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 10px;
    color: gold;
    font-weight: 700;
}

.wrapper ul li div
{
    width: 100%;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper ul li p
{
    margin: 10px 0;
}

footer
{
    padding: 50px 0;
    width: 100vw;
    background-color: #222;
    color: #fff;
}

footer p 
{
    text-align: center;
    font-size: 13px;
}

footer p a
{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}


/* //////////////////////////////////////////////// */
@media only screen and (max-width: 880px)
{

    .viewContent
    {
        width: 70vw;
        left: 15vw;
        font-size: 24px;
    }

    .viewContent h2 #currPoints
    {
        width: 13vw;
        font-size: 6vw;
    }

    .viewContent p
    {
        padding: 1vh 0;
        margin: 1vh 0;
        font-size: 3vw;
    }

    #backUsers
    {
        left: 35vw;
        width: 20vw;
        padding: 15px;
        font-size: 3vw;
    }

    .addContent
    {
        width: 70vw;
        left: 15vw;
        font-size: 24px;
    }

    .addContent hr
    {
        margin-top: 5vh;
    }

    .addContent #addBtn
    {
        width: 20vw;
        padding: 15px;
        font-size: 3vw;
    }

    .addContent #backUsers
    {
        left: 40vw;
    }

    .wrapper ul
    {
        gap: 15px;
    }

    .wrapper ul li
    {
        width: 45%;
        font-size: 2vw;
    }

}


/* //////////////////////////////////////////////// */
@media only screen and (max-width: 450px) 
{
    .viewContent
    {
        height: 80vh;
        width: 80vw;
        top: 10vh;
        left: 10vw;
        font-size: 18px;
        padding: 10px 5px;
    }

    .viewContent h2
    {
        margin: 15px auto;
    }

    .viewContent h2 #currPoints
    {
        width: 13vw;
        font-size: 6vw;
    }

    .viewContent p
    {
        text-align: center;
        padding: 10px 0;
    }

    .viewContent p span
    {
        display: block;
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    .viewContent hr
    {
        margin-top: 3vh;
    }

    #backUsers
    {
        width: 30vw;
    }

    .addContent
    {
        height: 80vh;
        width: 80vw;
        top: 10vh;
        left: 10vw;
        font-size: 18px;
        padding: 10px;
    }

    .addContent label
    {
       width: 40vw;
    }

    .addContent input
    {
        float: right;
    }

    .addContent #addBtn
    {
        width: 30vw;
        left: 7vw;
    }

    .addContent #backUsers
    {
        left: 43vw;
    }

    .wrapper
    {
        width: 90vw;
        margin: 60px 5vw 100px;
    }

    .wrapper ul li
    {
        width: 100%;
        font-size: 0.9em;
        padding: 20px 15px;
    }

    .wrapper ul li div
    {
        padding: 10px 0;
    }

}